:root {
  --primary-color: #1a4b84;
  --chathams_blue: #1a4b84;
  --tamarillo: #991e14;
  --yellow_sea: #fead06;
}

body {
  margin: 0;
  padding: 0;
}

#map {
  height: 60vh;
  width: 100vw;
  max-width: 100%;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100% !important;
}

#menu {
  position: absolute;
  background: #fff;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  margin-top: -90px;
  margin-left: 5px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#details {
  display: flex !important;
  width: 100vw;
  max-width: 100%;
  border: 1px solid var(--primary-color);
  padding: 8px;
  background: #e4e4e4;
}

#details p,
#details h6 {
  margin-bottom: 0;
}

.iss {
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  background-repeat: "no-repeat";
  background-image: url("../img/iss.png");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 20px;
  border-radius: 40%;
}
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14f49;
}
.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  bottom: 2%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}

.play {
  cursor: pointer;
}
